[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "tut-1/ga-hugo-theme"]
	path = tut-1/ga-hugo-theme
	url = https://github.com/giraffeacademy/ga-hugo-theme
