{{ define "main" }}
    <h1 class="text-center text-xl font-bold mb-5">This is the home page.</h1>
     {{.Content}}
    <div class="flex gap-10 flex-col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in dictum massa, mattis euismod libero. Aenean
            efficitur interdum orci, eu luctus nisl dictum vitae. Interdum et malesuada fames ac ante ipsum primis in
            faucibus. Donec eu elementum lacus. Etiam in purus eu neque blandit tempus. Donec semper libero odio, vel
            consectetur ligula tincidunt ac. Ut ut lacus id augue fringilla consectetur vitae vitae ipsum. In finibus
            sem
            sed nibh maximus egestas. In hac habitasse platea dictumst. Nullam consequat fringilla magna, convallis
            iaculis
            est tincidunt id. Mauris id lectus elit. Donec pulvinar vehicula nulla, at placerat arcu gravida id. Nulla
            facilisi. Curabitur id faucibus dolor. Curabitur fermentum at sapien eu sodales.
        </p>
        <p>
            Maecenas at nibh hendrerit, dictum velit in, tristique neque. Praesent ac velit diam. Donec sed velit
            egestas, auctor sem quis, rutrum neque. Morbi eu lorem faucibus, suscipit turpis eget, dapibus eros. Etiam
            consequat sodales urna, et lobortis mi ultricies at. Etiam tincidunt sit amet mauris vitae ultricies. Nulla
            ullamcorper magna augue. Nulla facilisi. Nam ultricies nisi at ligula mattis, sit amet efficitur purus
            sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
    </div>
{{ end }}
